# Facebook App Configuration
ACCESS_TOKEN=ADD_APP_TOKEN_HERE
APP_SECRET=ADD_APP_SECRET_HERE
APP_ID=ADD_APP_ID_HERE
VERIFY_TOKEN=ADD_VERIFY_TOKEN_HERE

# Server Configuration
PORT=8080

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# Redis online(No tested yet)
#REDIS_HOST=redis://default:VSDmXLeec0DvLfdwnGTTouzX9Che6xoj@table-kingly-watch-62884.db.redis.io
#REDIS_PORT=19224